<div class="container">
  <div class="header">
    <div class="title-card">
      @if (!setNewName) {
        <h1>{{ userName }}'s To-Do List</h1>
        <button (click)="newNameMode()">Change Name</button>
      } @else {
        <h2>Welcome! Please enter your name:</h2>
        <div class="user-input">
          <input
            #changeUserInput
            type="text"
            placeholder="Name"
            (input)="onUserNameInput(changeUserInput.value)"
            [value]="userNameInput"
          />
          <button (click)="setUser()">Set User</button>
        </div>
      }
    </div>

    <div class="task-stats">
      <p>Total Tasks: {{ numOfTasks }}</p>
      <p>Complete Tasks: {{ numOfCompleteTasks }}</p>
      <p>Unfinished Tasks: {{ numOfUnfinishedTasks }}</p>
    </div>
  </div>

  <div class="task-section">
    <div class="task-input-card">
      <input
        #addTaskInput
        type="text"
        placeholder="New To-Do Task"
        (input)="onNewTaskInput(addTaskInput.value)"
        [value]="newTaskText"
      />
      <button (click)="addNewTask()">Add Task</button>
    </div>

    <div class="task-list">
      <h2>Tasks</h2>
      @for (task of tasks; track task.id) {
        <app-task
          [task]="task"
        ></app-task>
      }
    </div>
  </div>

  @if (errorMsg) {
    <p>{{ errorMsg }}</p>
  }
</div>